<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12" style="background-image: url(../../assets/logo.PNG); height:500px; background-repeat: no-repeat;background-attachment: fixed; background-size: cover;">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row bg-dark">
          <div class="col-md-5"></div>
          <div class="col-md-3">
            <h1 class="text-light">Our Team</h1>
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-md-3">
           <img src="../../assets/Janaka/janaka.jpg"  [routerLink]="['/janaka']" style="width: 250px; border-radius: 50%;" >
           <h4>Janaka Dissanayake</h4>
          </div>
          <div class="col-md-3">
            <img src="../../assets/Sachintha/Zoysa.jpg" [routerLink]="['/sachintha']" style="width: 250px; border-radius: 50%;" >
            <h4>Sachintha De Zoys</h4>
          </div>
          <div class="col-md-3">
            <img src="../../assets/Menura/menura.jpg" [routerLink]="['/menura']" style="width: 250px; border-radius: 50%;" >
            <h4>Menura Dewalegama</h4>
          </div>
          <div class="col-md-3">
            <img src="../../assets/Lakshani/laka.jpg" [routerLink]="['/lakshani']" style="width: 250px; border-radius: 50%;" >
            <h4>Lakshani Kodikara</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row bg-dark">
          <div class="col-md-5"></div>
          <div class="col-md-3">
            <h1 class="text-light">Team Projects</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  
